t1x_test.db
venv/*
*egg-info*
*__pycache__*
build/


test_rxns/*

integration_test/t1x.db
integration_test/t1x.h5
test.index.json
example/make_ts_dataset.py
playground/*

data/transition1x.h5
data/transition1x.db
data/formula_reaction_index.json